<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'list_blog' %}">Artykuły</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Logowanie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Rejestracja</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Kontakt</a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="nav-link" style="background-color: transparent; border: none; cursor: pointer;">Wyloguj</button>
        </form>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
